target/
.playwright/
.env

allure-results/*
!allure-results/.gitkeep
allure-report/*
!allure-report/.gitkeep
reports/*
!reports/.gitkeep
logs/*.log
!logs/.gitkeep

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws

### VS Code ###
.vscode/

### Eclipse ###
.classpath
.project
.settings/

### OS ###
.DS_Store
Thumbs.db
